<template>
  <div>
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="1" class="contacts">
          <p class="social">In</p>
          <p class="social">Ig</p>
          <p class="social">Fb</p>
        </b-col>
        <b-col class="about_me">
          <h1 class="title">HELLO,</h1>
          <p class="subtitle">MOI</p>
          <p class="subtitle">C'EST</p>
          <p class="subtitle">MANON</p>
          <p>
            <span class="small-font">JE SUIS </span>
            <span class="large-font">FREELANCE <br /></span>
            <span class="large-font">EN <br /></span>
            <span class="large-font">COMMUNICATION <br /></span>
            <span class="small-font">SPÉCIALISÉE DANS LA COM' <br /></span>
            <span class="small-font">DIGITALE AU SERVICE DES </span>
            <span class="large-font">
              PME ET <br />
              ENTREPRENEURS</span>
          </p>
        </b-col>
        <b-col>
          <img
            src="../assets/svg/rectangle_small.svg"
            alt=""
            class="small_rectangle"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style  scoped>
.bv-example-row {
  margin: auto;
}
.title {
  font-size: 6.5rem;
}
.subtitle {
  font-size: 3.5rem;
}

.title,
.subtitle {
  color: rgba(218, 10, 236, 1);
  animation: fadeIn 4s;
}
.small_rectangle {
  position: absolute;
}

.small-font {
  font-size: 2.5rem;
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.large-font {
  font-size: 3.5rem;
  animation: fadeIn 10s;
}
.contacts {
  position: absolute;
  left: 2%;

  display: flex;
  flex-direction: column-reverse;
}
.social {
  transform: rotate(-90deg);
}

.about_me{
  padding-left: 10rem;
}
</style>
