<template>
  <div>
    <b-container class="bv-example-row">
      <b-row>
        <img
          src="../assets/svg/large_rectangle.svg"
          alt=""
          class="large_rectangle"
        />

        <b-col></b-col>
        <b-col>  </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style  scoped>
.large_rectangle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
</style>
