<template>
  <div>
    <img src="../assets/svg/vector2.svg" alt="vector 1" class="vector_1" />
    <Nav class="navigation" />
    <div class="container">
      <About />
      <Services />
    </div>
    <img src="../assets/svg/vector1.svg" alt="" class="vector_2" />
  </div>
</template>

<script>
export default {};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body {
  font-family: "Staatliches";
}

.vector_1 {
  position: absolute;
  float: right;
  right: 0%;
  top: 0%;
  z-index: 10;
}
.vector_2 {
  position: absolute;
  float: right;
  left: 1%;
  width: 95%;
}
.navigation {
  padding-bottom: 4em;
}
.container {
  padding: 0px 0px 0px 0px;
}
</style>
